@model IEnumerable<MovieCastModel>

    
@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="@item.Movie.PosterUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@item.Movie.Title</h5>
    <p class="card-text">@item.Movie.Overview</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
}