@model CastModel

<form method ="post">
  <div class="form-group">
    <label for="CastName">Cast Name</label>
    <input type="text" name ="Name" class="form-control" id="castName"  placeholder="Enter Name">
  </div>
    <div class="form-group">
    <label for="gender">Gender</label>
   <input type="text" name ="Gender" class="form-control" id="castName"  placeholder="Enter Name">
  </div>
    <div class="form-group">
    <label for="TmdbUrl">URL</label>
    <input type="text"  name ="TmdbUrl"  class="form-control" id="castURL"  placeholder="Enter URL">
  </div>
    <div class="form-group">
    <label for="proPath">Profile Path</label>
    <input type="text"  name =" ProfilePath" class="form-control" id="profilrpath"  placeholder="Enter path">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>