@model CastModel


<div class="form-group">
    <label for="CastName">Cast Name</label>
    <input type="text" name ="Name" class="form-control" id="castName" value ="@Model.Name" placeholder="Enter Name">
  </div>
    <div class="form-group">
    <label for="gender">Gender</label>
   <input type="text" name ="Gender" class="form-control" id="castName" value ="@Model.Gender" placeholder="Enter Name">
  </div>
    <div class="form-group">
    <label for="TmdbUrl">URL</label>
    <input type="text"  name ="TmdbUrl"  class="form-control" id="castURL" value ="@Model.TmdbUrl" placeholder="Enter URL">
  </div>
    <div class="form-group">
    <label for="proPath">Profile Path</label>
    <input type="text"  name =" ProfilePath" class="form-control" id="profilrpath" value ="@Model.ProfilePath" placeholder="Enter path">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>